.contact-form {
    max-width: 700px;
    min-height: 500px;
    margin: 30px auto 0 auto;
    border: 1px solid black;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    form {
        font-size: 15px;
        width: 400px;


        input {
            font-family: 'Roboto', sans-serif;
            width: 400px;
            margin-top: 15px;
            padding: 10px;
            background-color: white;
            border: 2px solid #e8d6e8;

        }

        textarea {
            font-family: 'Roboto', sans-serif;
            width: 400px;
            margin-top: 15px;
            padding: 10px;
            background-color: white;
            border: 2px solid #e8d6e8;
        }

        button {
            font-family: 'Roboto', sans-serif;
            width: 200px;
            font-size: 15px;
            padding: 10px 20px;
            margin-top: 15px;
            background-color: #e8d6e8;
            border: none;
            color: $white;
        }
    }
}