@import "_variables.scss";


.header-main {
    .login-container {
        .login-list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;
            height: 50px;
            padding-right: 35px;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;

            li {

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }

    .logo-container {
        // border: 1px solid red;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 200px;
            height: 95px;
        }
    }

    .navigation-container {
        // border: 1px solid green;

        .navigation-list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;

            li {
                flex-direction: row;
                padding: 0 25px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;

                &:hover {
                    color: $pink;
                    cursor: pointer;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}