// STYLE DO PRODUKTÓW - STWORZYC NOWY PLIK W SCSS I PRZENIEŚĆ JE TAM:

#productsList {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 300px));
    column-gap: 30px;
    row-gap: 70px;

    .li {
        list-style-type: none;

        .div {
            height: 300px;

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .div2 {
                margin-top: 20px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1px;

            }
        }
    }
}

// ----------------------------------------------------
@import "_variables.scss";


.header-main {
    .login-container {
        .login-list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;
            height: 50px;
            padding-right: 35px;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;

            li {

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }

    .logo-container {
        // border: 1px solid red;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 200px;
            height: 95px;
        }
    }

    .navigation-container {
        // border: 1px solid green;

        .navigation-list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;

            li {
                flex-direction: row;
                padding: 0 25px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;

                &:hover {
                    color: $pink;
                    cursor: pointer;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}